@charset "UTF-8";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Roboto, sans-serif;
  font-size: 12pt;
  overflow: hidden;
}

body {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(90px, auto);
  max-width: 600px; /*100%;*/
  margin: 0 auto;
  background-color: black;
  border-radius: 5px;
  padding: 7px;
}

.wrapper > div {
  padding: 0.1em;
  height: 100%;
  width: 100%;
  place-self: center;
}

.one {
  grid-column: 1/4;
  grid-row: 1;
}

.onehalf {
  grid-column: 1/4;
  grid-row: 2;
}

.two {
  grid-column: 1/4;
  grid-row: 3;
}

.three {
  grid-column: 1/2;
  grid-row: 4;
}
.four {
  grid-column: 2/3;
  grid-row: 4;
}

.five {
  grid-column: 3/4;
  grid-row:  4;
}

.six {
  grid-column: 1/4;
  grid-row: 5;
}

.seven {
  grid-column: 1/4;
  grid-row: 6;
}

.sel {
    font-family: Roboto, sans-serif;
    font-size: 1.5em;
    background-color: #64278f;
    border: solid black 0.5px;
    color: white;
    border-radius: 5px;
    width: 100%;
    height: 65%;
}

.label {
    font-family: Roboto, sans-serif;
    font-size: 1.5em;
    color: white;
}

input[type=button] {
    font-family: Roboto, sans-serif;
    font-size: 1.5em;
    background-color: #64278f;
    border: solid black 0.5px;
    color: white;
    border-radius: 5px;
    width: 100%;
    height: 85%;
    outline: none;
    margin: auto;
}

input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

.info-box {
    font-family: Roboto, sans-serif;
    font-size: 1.25em;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
}

