@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Roboto, sans-serif;
  font-size: 12pt;
  overflow: hidden;
}

body {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

.outline {
  display: grid;
  grid-gap: 3em;
  justify-items: center;
  cursor: default;
}

button {
  //min-width:80px;
  width: 20%;
  padding: .5em .75em;
  font-size: 1.0rem;
  color: #fff;
  text-shadow: 0 -1px 1px #000;
  border: 1px solid #000;
  border-radius: .5em;
  background-image: linear-gradient(#2e3538, #73848c);
  box-shadow: inset 0 2px 4px #ffffff80, 0 0.2em 0.4em rgba(0, 0, 0, 0.4);
  outline: none;
  cursor: pointer;
}
button:active {
  transform: translateY(2px);
}
.btnblock {
  display: block;
  width: 100%;
  border: none;
  border-radius: .5em;
  background-color: #d1d1d1;
  padding: 14px 28px;
  font-size: 16px;
  cursor: default;
  text-align: center;
}

.system {
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr;
  align-items: vertical;
  justify-items: center;
  width: 100%;
  font-size: 20px;
  background-color: #d1d1d1;
  border-radius: .5em;
}

select{
  background-color: white;
}

option{
  color: RoyalBlue;
}