@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
}

body {
   margin: 0;
   height: 100%;
}

#wrapper {
  height: 100vh;
  max-width: 100%;
  margin: 0px auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: black;
  border: 2px solid red;
  padding: 7px;
}

#wrapper > * {
	padding: 5px;
}

#top {
	border: 2px solid white;
	margin-bottom: 21px;
}

#wifbtn {
	border: 2px solid white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

#space {
	height: 100%;
}

#bot {
    margin-top: 7px;
	border: 2px solid white;
}

.info-box {
    font-family: Roboto, sans-serif;
    font-size: 1.0em;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}

.label {
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 1.0em;
    color: white;
    padding: 5px;
}

.sel {
    font-family: Roboto, sans-serif;
    font-size: 1.0em;
    background-color: #64278f;
    border: solid black 0.5px;
    color: white;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}

input[type=button] {
    font-family: Roboto, sans-serif;
    font-size: 1.0em;
    background-color: #64278f;
    border: solid black 0.5px;
    color: white;
    border-radius: 5px;
    width: 100%;
    outline: none;
    margin: auto;
    padding: 5px;
}

input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

