<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="MS">
  <meta name="description" content="Universal ESC Programmer">
  <title>ESCProg</title>
  <link rel="stylesheet" href="static/index.css">
</head>
<body>
<div class="panel">
   <nav id="topnav">
         <a id="logo" class="nav-link" href="esc.html">ESC</a>
         <a class="nav-link" href="servo.html">Servo</a>
         <a class="nav-link" href="system.html">System</a>
         <a class="nav-link" href="about.html">About</a>
   </nav>
   <textarea
         class="esclcd"
         id="lcd1" 
         name=""
         rows="4"
         cols="40"
         readonly
    ></textarea>
    <div class="btnblock">
         <button onclick="fnbtn1()">Item</button>    
         <button onclick="fnbtn2()">-Value-</button>
         <button onclick="fnbtn3()">+Value+</button>
         <button onclick="fnbtn4()">Ok</button>
    </div>
</div>
<script src="static/esc.js" charset="utf-8" defer></script>
</body>
</html>
