{% args infolist %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="MS">
  <meta name="description" content="Universal ESC Programmer">
  <title>UniESC</title>
  <link rel="stylesheet" href="static/index.css">
</head>
<body>
<div class="wrapper">
  <div class="one">
    <select class="sel" onchange="mkdisp()" id="escname">
	  <option value="None"> None </option>
	  {% for info in infolist %}
        <option value={{ info }}> {{ info }} </option>
      {% endfor %}
	</select> 
  </div>
  <div class="two">
	<input type="text" class="nr-box" id="nri" disabled>
  </div>
  <div class="three">
    <input type="text" class="nr-box" id="nrv" disabled>
  </div>
  <div class="four">
    <textarea class="text-box" id="txti" rows="2" disabled > </textarea>
  </div>
  <div class="five">
    <textarea class="text-box" id="txtv" rows="2" disabled > </textarea>
  </div>
  <div class="six">
    <input type="button" value="Item--" onclick="dec_item()" />
  </div>
  <div class="seven">
	<input type="button" value="Item++" onclick="inc_item()" />
  </div>
  <div class="eight">
	  <input type="button" value="Value--" onclick="dec_val()" />
  </div>
  <div class="nine">
		<input type="button" value="Value++" onclick="inc_val()" />
  </div>
  <div class="ten">
	  <input type="button" value="Save" onclick="save()" />
  </div>
  <div class="elf">
	  <input type="button" value="Reset" onclick="reset()" />
  </div>
  <div class="twelve">
	  <input type="text" class="info-box" id="info" disabled>
  </div>
</div>
<script type="text/javascript" src="static/index.js"></script>
</body>
</html>
