<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="author" content="MS">
  <meta name="description" content="Universal ESC Programmer">
  <title>UniESC</title>
  <link rel="stylesheet" href="static/system.css">
</head>
<body>
<div id="wrapper">
	<div id="top">
		<input type="text" class="info-box" id="info" disabled>
        <label class="label" for="ssidlist">Visiable Wifi Networks:</label>
        <select class="sel" name="ssidlist" id="ssidlist" onChange="combo(this, 'ssid')">
			<option>Run Scan first</option>
		</select> 
		<label class="label" for="ssid">SSID:</label>
        <input class="sel" name="ssid" id="ssid">
        <label class="label" for="pw">Enter Password:</label>
        <input class="sel" name="pw" id="pw">
	</div>	
	
	<div id="wifbtn">
        <input type="button" value="Delete" onclick="fnbtnremove()" id="del" name="del"/>
        <input type="button" value="Scan" onclick="fnbtnscan()" id="scan" name="scan"/>
        <input type="button" value="Save" onclick="fnbtnsave()" id="save" name="save"/>
    </div>
    
    <div id="space">	
	</div>	
	    
	<div id="bot">
		<label class="label" for="update">Update Firmare:</label>
        <input type="button" value="Update" onclick="fnbtnota()" id="update" name="update"/>
	</div>
</div>
<script src="static/system.js"></script>
</body>
</html>
